.background-1 {
	background-color: #272929;
	color: #ffffff
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}
.navbar-nav  li a:hover {
	color: #1abc9c !important;
}
p {
	font-size: 16px;
}
body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}
.material-icons.md-75 {
	font-size: 75px;
}


@media only screen and (max-width: 992px){
.parallax-container{
	background-image: url("images/laptop_theme.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
}
}