@import "index.html"

html {
    margin: 0;
    padding: 0;
}
body {
    font: 80% roboto, sans-serif;
    line-height: 1.888889;
    color: #535756
    background: #fff;
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    text-align: justify;
}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
}
h2 {
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;    
}
.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
}
.
