@import "index.html"

html {
    margin: 0;
    padding: 0;
}
body {
    font: 80% roboto, sans-serif;
    line-height: 1.888889;
    color: #535756
    background: #ffffffff;
    margin: 0;
    padding: 0;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333
}

li {
	float: left
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

h2{
	text-align: center;
}
